<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Hello, world</h1>
            <%= link_to "Submit link", new_image_path %>
            <br />
            <br />
            <% if @images.empty? %>
            <p>No images found for tag "<%= @tag %>"</p>
            <% else %>
            <table class="table">
                <thead>Images</thead>
                <ul class="list-group">
                    <% @images.each do |image| %>
                        <li class="list-group-item">
                            <div>
                              <img class="display-image" src=<%= image.link %> />
                            </div>
                        <% image.tag_list.each do |tag| %>
                            <%= link_to tag, images_path(:tag => tag), :class => 'badge badge-primary' %>
                        <% end%>
                        </li>
                    <% end %>
                </ul>
            </table>
            <% end %>
        </div>
    </div>
</div>
